/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
**/.env.example
**/.env
BACKEND_CHANGES.md
onboarding-template.sql